/*css reset*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/*general styles*/

html {
    background: url("web-imgs/chalk.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 100%, 0.30);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

p {
    color: grey;
    font-size: 2em;
    text-shadow: .05em .05em black;

}

/*header styles*/

header h1,
p {
    text-align: center;
    margin-top: .25em;
    margin-bottom: .60em;
    font-family: 'Paytone One', sans-serif;
}

/*content styles*/

h1 {
    font-size: 4em;
    letter-spacing: .05em;
    color: #5E999E;
    text-shadow: .05em .05em black;

}

.modal {
    width: 60%;
    /*height: 8em;*/
    background-color: white;
    border-radius: .5em;
    margin: 0 auto;
    padding: 1.1em;
    margin-bottom: 3em;
}

.container {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}


input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

button {
    border-radius: 4px;
    background-color: #5E999E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.js-results {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.contain {
    background-color: white;
    padding: 0;
    margin-bottom: 1.5em;
    border-radius: .5em;
    display: inline-block;
    width: 30%;
    padding: 1em;
    margin-left: 5px;
    margin-right: 5px;
}

.contain a {
    display: block;
    padding-top: 1em;

}

.js-name {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    padding-top: .25em;
    padding-bottom: .50em;
    font-size: 2em;
}

.js-info {
    text-align: left;
    font-size: 1em;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    position: relative;
    padding-right: 20px;
}

.js-info + .readmore-js-toggle {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #999;
    font-weight: bold;
}

.js-video {
    display: inline-block;
}

.readmore-contain {
    display: block;
    /*height: 50px;*/
    overflow: hidden;
}

.readmore-contain,a{
    text-decoration: none;
}

.more-link {
    position: absolute;
    top: 23px;
    right: 0px;
    font-size: 16pt;
    font-weight: bold;
    color: #5E999E;
}

.less-link {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 24pt;
    font-weight: bold;
    color: #5E999E;
}

/*footer styles*/

@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    input[type=text] {
        width: 100%;

    }
    button {
        display: block;
        width: 100%;
    }

}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {

    .contain {
        width: 100%;
        display: block;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
